<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forward 확인</title>
    <style>

h1{
    color:blueviolet;
}

    </style>
</head>
<body>
  <pre>
 샤워한 듯이 풀려 힘이
다 잃고 나서야 포기해
영화 같아 우리 드디어
다시 하기 전에 배신해
어제와 같은 아침에
약이랑 눈이 부시네
영화 같아 난 드디어
마지막일 듯한 느낌에
하루 같아 내 3일 밤은 공황을 닮아
당연하지 숫자로 이어가면
다 이야기 같지
 난 왜 아직이라 해 제자리인걸
다행인데 반대로
어둡다 해 해가 떠도
이상하다 해 이상의 삶을
멀어져도 우린 닮아 있지
맴돌아 제자리를 시계같이
바늘 같아 이 관계는
찢어져서 꿰매어도 따갑네
원하지 않아도 맞닿는 시간
 3개의 숫자가 다 같네
1초만 널 미워하지 않을래
아이처럼 내가 먼저 안을래
운명 같게 해 timing
우연하게 사랑해
 이 말을 대신하는 건 숫자겠지
말이 필요 없는 관계네
어른스러움은 입을 닫게 해
침묵은 기분을 의심하게 해
생각의 가치를 잘라야겠어
다시 와주는 건 오직 사계
 나무 같아 내 버팀은
이제야 죽을 것 같은 1월
시집 같다고 정리해
 이기심 같은 예술이겠지
희생한다고 적히네
기록이라는 핑계로
화가 난 듯이 나 힘이
마지막인 듯이 연기해
간절히 원한 가면이네
사실은 나 화가 i need a pen
적지 않은 미움을 그리네
억지로 안 잘래 생일엔
초에 불을 하나씩
 불신이라는 꽃을 피우네
향이 나게 해 껍질은
차를 달이길 30에는
운명 같게 해 timing
 우연하게 사랑해
이 말을 대신하는 건 숫자겠지
말이 필요 없는 관계네
어른스러움은 입을 닫게 해
침묵은 기분을 의심하게 해
생각의 가치를 잘라야겠어
다시 와주는 건 오직 사계
  </pre>
        
</body>
</html>