<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.todo.model.mapper.TodoMapper">


<!-- select 태그의 속성 
  
    id 속성 : 태그를 식별하는 값
    (연결된 Mapper 의 메서드명과 동일하게 작성해서 연결)
    
    
    - resultType : 조회 결과 한 줄(1행)을 저장하여 
               반환할 변수/객체 자료형 지정
               
               조회 결과가 여러 행이면
               행 별로 변수/객체 자료형으로 저장 후 
               모아서 List 로 반환
   
     -->

<select id="selectAll" resultType="edu.kh.todo.model.dto.Todo">
SELECT TODO_NO, TODO_TITLE, TODO_CONTENT, COMPLETE, TO_CHAR( REG_DATE , 'YYYY-MM-DD HH24:MI:SS'   ) AS REG_DATE
FROM TB_TODO
ORDER BY TODO_NO

</select>

<!-- Java의 int 는 마이바티스의 _int -->

<select id="getCompleteCount" resultType="_int">

SELECT COUNT(*)
FROM TB_TODO
WHERE COMPLETE = 'Y'

</select>



<!-- parameterType : 전달 받은 값(전달 인자/매개변수) 
   -> DTO, Map인 경우 필드명/key를 입력해서 하나씩 꺼낼 수 있음
-->

<!-- 

   mapper에서 java의 date(파라미터)를 SQL 에 삽입하는 방법
   
   1) #{변수명 OR 필드명}: SQL에 삽입 시 양쪽에 '' 붙여서 삽입 
   
   2) ${변수명 OR 필드명} : SQL에 삽입 시 양쪽에 '' 붙히지 않고 삽입
   
   -> ${} 는 삽입할 값이 숫자인경우 사용한다 왜나하면 숫자는 DB에서 '' 가 없기 때문이다
   ->)) SQL 자체가 변해야 하는 경우에 사용
   
   EX) SELECT MEMBER_NAME , ${KEY} FROM "MEMBER"
   
   이렇게 있다고 치는데 전달받은 ${KEY} 여기가 ENROLL_DATE 인 경우
   
   -${KEY} == MEMBER_ADDRESS 인 경우
   SELECT MEMBER_NAME, MEMBER_ADDRESS FROM "MEMBER"
   

 -->

<insert id="addTodo" parameterType="edu.kh.todo.model.dto.Todo">

INSERT INTO TB_TODO
VALUES(SEQ_TODO_NO.NEXTVAL, #{todoTitle}, #{todoContent}, DEFAULT, DEFAULT )
</insert>

<!-- 할 일 추가 -->

 							<!-- 가져온 매개변수 타입 int -->  
<select id="todoDetail" parameterType="_int" resultType="edu.kh.todo.model.dto.Todo">

SELECT TODO_NO, TODO_TITLE, TODO_CONTENT, COMPLETE, TO_CHAR( REG_DATE , 'YYYY-MM-DD HH24:MI:SS'   ) AS REG_DATE
FROM TB_TODO
WHERE TODO_NO = ${todoNo}


</select>

<update id="changeComplete" parameterType="edu.kh.todo.model.dto.Todo">

UPDATE TB_TODO SET
COMPLETE = #{complete}
WHERE TODO_NO = ${todoNo}

</update>

<update id="update" parameterType="edu.kh.todo.model.dto.Todo">

UPDATE TB_TODO SET
TODO_TITLE = #{todoTitle} , TODO_CONTENT = #{todoContent}
WHERE  TODO_NO = ${todoNo} 


</update>

<delete id="delete" parameterType="_int">

DELETE TB_TODO
WHERE TODO_NO = ${todoNo}

</delete>


<select id="getTotalCount" resultType="_int">

SELECT COUNT(*)
FROM TB_TODO


</select>

<select id="getCompleteCount22" resultType="_int">


SELECT COUNT(*)
FROM TB_TODO
WHERE COMPLETE = 'Y'


</select>

<insert id="addTodoAjax" parameterType="edu.kh.todo.model.dto.Todo">

INSERT INTO TB_TODO
VALUES(SEQ_TODO_NO.NEXTVAL, #{todoTitle}, #{todoContent}, DEFAULT, DEFAULT )

</insert>

<select id="selectList" resultType="edu.kh.todo.model.dto.Todo">

SELECT TODO_NO, TODO_TITLE, TODO_CONTENT, COMPLETE, TO_CHAR( REG_DATE , 'YYYY-MM-DD HH24:MI:SS'   ) AS REG_DATE
FROM TB_TODO

</select>

<delete id="deleteTodo" parameterType="_int">

DELETE TB_TODO
WHERE TODO_NO = ${todoNo}

</delete>

<update id="updateTodo" parameterType="edu.kh.todo.model.dto.Todo">

UPDATE TB_TODO
SET TODO_TITLE = #{todoTitle} , TODO_CONTENT = #{todoContent}
WHERE TODO_NO = ${todoNo}

</update>





</mapper>
